
@media screen and (max-width: 678px){
    /*CABEÇALHO*/
    .cabecalho-principal{
        padding: 0;
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column;
    }
    .lista-navegacao{
        width: 300px;
        flex-direction: column;
    }
    .lista-itens{
        width: 100%;
        border-bottom: 1px solid #f1f1f1;
    }
    .cabecalho-conteudo{
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }

    /*CONTEUDO DESCRIÇAO*/
    .conteudo-descricao{
        align-items: center;
        flex-direction: column;
    }
    .conteudo-descricao-paragrafo{
        flex-direction: column;
        width: 100%;
    }
    /*BACKGROUND IMG*/
    .conteudo-terciario-imagens{
        justify-content: center;
    }

    .conteudo-penta-imagens{
        justify-content: center;
    }
    .conteudo-penta-imagem{
        width: 300px;
    }
}