
/*IMPORTANDO FONTES*/

@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Cedarville+Cursive&family=Dancing+Script&display=swap');

/*USO DAS FONTES
font-family: 'Akshar', sans-serif;
font-family: 'Cedarville Cursive', cursive;
font-family: 'Dancing Script', cursive;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*cabecalho*/

.cabecalho{
    background: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f1f1f1;
    height: 100vh;
}
.cabecalho-principal{
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: 'Akshar', sans-serif;
}
.titulo-principal{
    padding: 10px;
    text-transform: uppercase;
}
.lista-navegacao{
    width: 400px;
    justify-content: space-around;
    display: flex;
    list-style: none;
    text-transform: uppercase;
    margin-right: 50px;
}
.lista-itens{
    font-size: 20px;
    padding: 3px;
    transition: 0.2s;
}
.lista-itens:hover{
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
}

.cabecalho-conteudo{
    background: rgba(0, 0, 0, 0.438);
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.cabecalho-subtitulo{
    font-size: 48px;
    font-family: 'Akshar', sans-serif;
   color: rgb(255, 145, 0);
   border-bottom: 1px solid rgb(255, 145, 0);
}
.cabecalho-texto{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    font-family: 'Dancing Script', cursive;
}

/*CONTEUDO PRINCIPAL PRIMARIO*/

.conteudo-primario{
    padding: 10px;
    background: #ece5e5;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.conteudo-primario-texto{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.conteudo-primario-subtitulo{
    color: rgb(255, 145, 0);
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 50px;
}
.conteudo-primario-texto{
    font-size: 22px;
    font-family: 'Akshar', sans-serif;
}
.conteudo-primario-imagem{
    width: 400px;
}
.imagem-pizza{
    width: 100%;
}

/*CONTEUDO SECUNDARIO*/

.conteudo-secundario{
    background: url(img/background-secundario.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #f1f1f1;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}
.conteudo-img-texto{
    background: rgba(0, 0, 0, 0.438);
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.conteudo-img-subtitulo{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 145, 0);
}
.conteudo-img-paragrafo{
    padding: 5px;
    font-size: 18px;
    font-family: 'Akshar', sans-serif;
}

/*CONTEUDO TERCIÁRIO*/

.conteudo-terciario{
    background: #ece5e5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.conteudo-terciario-imagens{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
.conteudo-terciario-imagem{
    width: 200px;
    margin: 5px;
}
.conteudo-teciario-textos{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.conteudo-terciario-subtitulo{
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 145, 0);
}
.conteudo-terciario-paragrafo{
    font-size: 22px;
    font-family: 'Akshar', sans-serif;
}

/*Conteudo-quartario*/

.conteudo-quartario{
    background: url(img/farinha-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #f1f1f1;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}

/*CONTEUDO PENTA*/

.conteudo-penta{
    background: #ece5e5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.conteudo-penta-imagens{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
.conteudo-penta-imagem{
    width: 200px;
    height: 300px;
    margin: 10px;
}
.conteudo-penta-textos{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.conteudo-penta-subtitulo{
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 145, 0);
}
.conteudo-penta-paragrafo{
    font-size: 22px;
    font-family: 'Akshar', sans-serif;
}

/*RODAPÉ */

.rodape{
    background: rgb(10, 0, 15);
    color: #f1f1f1;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Akshar', sans-serif;
}